.background {
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.background img {
	width: 100%;
	height: auto;
}
/*
.wrapper {
	margin: auto;
	width: 80%;
}
*/
.fancy {
	border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	padding: 20px;
	margin-bottom: 30px;
}

.fancy .btn {
	color: #000;
}

h2, h3 {

/*	font-family: 'Old Standard TT', serif;*/
	font-family: 'IM Fell French Canon', serif;
}

h2 {
	font-size: 95px;
}

h3 {
	font-size: 48px;
}
